<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Bancas</title>
    <link rel="stylesheet" href="..//static//style.css">
</head>
<body>
    <header>
        <h1>Web Bancas</h1>
    </header>
    <main>
        <div class="login-container">
            <h2>Login</h2>
            <form action="/fazerlogin" method="post">
                <label for="username">Login</label>
                <input type="text" id="username" name="login">

                <label for="password">Senha</label>
                <input type="password" id="password" name="senha">

                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
</body>
</html>